body{
    margin: auto;
}
h1{
    text-align: center;
    color: red;
}

p{
   font-size: 1.4em;
   float: left;
   margin: 3% auto 5% 10%  ;
}


img{
    float:right;
    margin: 2.5% 10% 5% 20%  ;
}
